{% extends 'showBranches.html' %}

{% block content %}
<section class="branch_content">

  <h1 style="margin-bottom: 10%;">Corporations and clients with RUT</h1>

  {% for data in dataset %}

    <div class="branch-info">
      <p>Client Id:  <span>{{ data.id }}</span></p>
      <p>Name:       <span>{{ data.clientName }}</span></p>
      <p>RUT:        <span>{{ data.RUT }}</span></p>
      <p>Address:    <span>{{ data.clientAddress }}</span></p>
      <p>Discount:   <span>{{ data.discount }}</span></p>


      <div class="branch-actions">
        <a href="/main/clients/deleteCorp/{{data.id}}" class="btn">Delete Client</a>
      </div>
    </div>


  {% endfor %}

  <div class="branch-management">
    <a href="/main/clients/newCorp/" class="btn">Add New Client</a>
  
  </div>



</section>
 
 {% endblock %} 
