{% extends 'showBranches.html' %}

{% block content %}

<section class="branch_content">
  <h1 style="margin-bottom: 10%;">Clients Registred</h1>

    {% for data in dataset %}
  
      <div class="branch-info">
        <p>Client id: <span>{{ data.id }}</span></p>
        <p>Name:      <span>{{ data.clientName }}</span></p>
        <p>DNI:       <span>{{ data.DNI }}</span></p>
        <p>Address:   <span>{{ data.clientAddress }}</span></p>
  
        <div class="branch-actions">
          <a href="/main/clients/deletePerson/{{data.id}}" class="btn">Delete Client</a>
        </div>
      </div>
  
    {% endfor %}
  
    <div class="branch-management">
      <a href="/main/clients/newPerson/" class="btn">Add New Client</a>
    </div>

</section>
  
{% endblock %}  