{% extends 'showBranches.html' %}

{% block content %}

<section class="branch_content">
  <h1 style="margin-bottom: 20px;">Clients Registred</h1>

    {% for data in dataset %}
  
      <div class="branch-info">
        <p>ClientId: {{ data.id }}</p>
        <p>Name: {{ data.clientName }}</p>
        <p>DNI: {{ data.DNI }}</p>
        <p>Address: {{ data.clientAddress }}</p>
  
        <div class="branch-actions">
          <a href="./show/{{ data.branchId }}" class="btn">View Details</a>
          <a href="./update/{{ data.branchId }}" class="btn">Edit</a>
          <a href="./delete/{{data.branchId}}" class="btn">Delete Branch</a>
        </div>
      </div>
  
      <hr/>
  
    {% endfor %}
  
    <div class="branch-management">
      <a href="/main/clients/newPerson/" class="btn">Add New Client</a>
    </div>

</section>
  
{% endblock %}  