
{% extends 'showBranches.html' %}

{% block content %}
<section class="branch_content">
    <h1>History of deleted branches</h1>
    {% for data in dataset %}

    <div class="branch-info">

        <p>Branch: <span>{{ data.branchId }}</span></p>
        <p>Address: <span>{{ data.address }}</span></p>

    </div>


    {% endfor %}
    <script>
        function goBack() {
        history.back();
        location.reload();
    }
    </script>
    
    <div class="branch-actions">
        <a onclick="goBack()">Empty History</a>
    </div>


</section>

{% endblock %}       