{% extends 'showBranches.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branches</title>

</head>


  <div class="main">
      {% block content %}
      <section class="branch_content">
        {% for data in dataset %}
  
        <div class="branch-info">
          <p>Product ID:  <span>{{ data.productId }}</span></p>
          <p>Price:       <span>{{ data.price }}</span></p>
          <p>Category:    <span>{{ data.category }}</span></p>
          <p>Position:    <span>{{ data.Position }}</span></p>
          <p>Branch ID:   <span>{{ data.productBranchId }}</span></p>
    
          <div class="branch-actions">
            <a href="./updateProduct/{{data.productBranchId}}/{{ data.productId }}" class="btn">Edit</a>
            <a href="./deleteProduct/{{data.productBranchId}}/{{data.productId}}" class="btn">Delete Product</a>
          </div>
        </div>
    
  
    
      {% endfor %}
    
      <div class="branch-management">
        <a href="./addProduct/" class="btn">Add New Product</a>
  
      </div>
    
      </section>
      
     {% endblock %} 
  </div>
</html> 
  