<!DOCTYPE html>
<html>
<head>
  <title>Branch Details</title>
</head>
<style>
    /* Style the branch details container */
.branch-details {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the branch info section */
.branch-info {
  display: flex;
  margin-bottom: 20px;
}

.branch-id,
.branch-address {
  margin-right: 20px;
}

.branch-id label,
.branch-address label {
  display: block;
  font-weight: bold;
}



</style>
<body>
  <button onclick="history.back()">Go Back</button>

  <div class="branch-details">
    <h1>Branch Details</h1>
    <div class="branch-info">
    <div class="branch-id">
    <label>Branch ID</label> <span>{{data.branchId}}</span><br/>
</div>
<div class="branch-address">
    <label>Branch Address</label> <span>{{data.address}}<br/>
    </span>
    </div>

    </div>
    <a href="./showProducts/{{data.branchId}}" class="branch-details-btn">View Products</a>

</body>
</html>
