
{% extends 'showBranches.html' %}

<!DOCTYPE html>
<html>
<head>
  <title>Branch Details</title>
</head>

<body>
  {% block content %}
  <section class = "branch_content">
    <h1>Branch Details</h1>
    <div class="branch-info">
      <p>Branch ID: <span>{{ data.branchId }}</span></p>
      <p>Address:   <span>{{ data.address }}</span></p>
    </div>
    <div style="display: flex; align-items: center; justify-content: center;">
      <a class="forms_submit"
      href="./showProducts/{{data.branchId}}" >View Branch Stock</a>
  </div>  

  </section>
  
  {% endblock %}

</body>
</html>
